@import "../mixins/mixins.scss";



.brand-menu {
  margin-bottom: 2em;

  .brand-menu__button:first-of-type {display: none;}
  .button-hidden {display: none;}
  .brand-menu__button:last-of-type {background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.49992 10.4999L3.99992 7.99992L6.49992 10.4999C6.77607 10.7761 7.22378 10.7761 7.49992 10.4999C7.77607 10.2238 7.77607 9.77607 7.49992 9.49992L4.70703 6.70703C4.31651 6.31651 3.68334 6.31651 3.29282 6.70703L0.499924 9.49993C0.223781 9.77607 0.223781 10.2238 0.499924 10.4999C0.776066 10.7761 1.22378 10.7761 1.49992 10.4999ZM1.49992 4.49992L3.99992 1.99992L6.49992 4.49992C6.77607 4.77607 7.22378 4.77607 7.49992 4.49992C7.77607 4.22378 7.77607 3.77607 7.49992 3.49992L4.70703 0.707032C4.31651 0.316508 3.68334 0.316507 3.29282 0.707031L0.499924 3.49993C0.223781 3.77607 0.223781 4.22378 0.499924 4.49993C0.776066 4.77607 1.22378 4.77607 1.49992 4.49992Z' fill='%2341F6D7'/%3E%3C/svg%3E") 0 50% no-repeat;}

  .brand-menu__button {
    background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E") 0 50% no-repeat;
    width: auto;
    padding-left: 1.3em;
    margin-left: 5%;
  }
  @include media(table) {
    .brand-menu__button:first-of-type {display: inline;}
  }
 .swiper-slide {
   //
   //min-width: 240px;
   //min-height: 72px;
   //max-height: 72px;
 }
  .brand-menu__list {
    display: flex;
    flex-shrink: 0;
    padding: 2em 1em 3em 1.2em;

    .brand-menu__item {
      flex-basis: 224px;
      min-width: 26%;
    }

    .brand__button {
      display: flex;
      position: relative;
      box-sizing: border-box;
      min-height: 72px;
      max-height: 72px;
      min-width: 100%;
      background-color: white;
      border-radius: 8px;
      border: 2px solid #EAEAEA;
        .brand-menu__icon {
          transform: translateY(-20px);
          position: absolute;
          right: 5%;
          top: 50%;
          z-index: 1;
        }
        .brand-menu__lenovo {
          transform: translateY(-15px);
          position: absolute;
          left: 5%;
          top: 50%;
          z-index: 1;
        }



    }
    .menu--hidden {display: none;}
    @include media(table) {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1em 0 1em 0;
      max-width: 90%;
      margin: auto;
      .item--hidden {display: none;}
      .brand__button {
        min-width: 100%;
        max-width: 241px;
        margin:0.5em 0 0.5em 0;
      }





      .button-hidden {display: none;}

      .menu-visible {
        display: flex;
        width: 100%;
        justify-content: space-between;


      }

    }
    @include media(desktop) {
      .brand-menu__item {
        min-width: 24%;
        max-width: 241px;
      }
      .item--hidden {display: flex;}
      .menu-visible:after {
        content: '';
        min-height: 72px;
        max-height: 72px;
        min-width: 24%;
        max-width: 241px;
      }
    }
  }
}

