@import "../abstracts/mixins.scss";



.post {
  display: flex;
  flex-wrap: wrap;
  margin:0 1em 2em 1em;

  @include media(table) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5% 2em 5%;
    justify-content: space-between;

    &__p, &__img{flex-basis:  47.5%;}

    &__p {margin-right: 5%}

    img {border-radius: 7px;}

    &__p--hidden {display: block;}
  }

  @include media(desktop) {
    &__p, &__img{flex-basis:  46%;}

    img {border-radius: 7px;}
  }

  &__p,
  &__img,
  img {width: 100%;}

  &__p {margin-top: 0;}

  .post__p--hidden {display: none;}

  &__item {
    margin: 16px 0 1.1em;

    .post__button {
      background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E") 0 50% no-repeat;
      width: auto;
      padding-left: 1.3em;
    }
  }
}
